@charset 'utf-8';

@import '../../../node_modules/normalize.css/normalize.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,600');

html,
body {
    min-height: 100vh;
    color: #fafafa;
}

a {
    color: #fafafa;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #343f56;
    overflow-x: hidden;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.active-game {
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    background-color: #2b2e3d;
    border-left: 1px solid #27eea0;
}
